* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 15px;
}
header {
    background-color: rgba(200, 102, 118, 0.69);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
li {
  display: flex;
  float:inline-end;
  list-style-type: none;
  font-size: 20px;
}
h2 {
  text-align: center;
  /* padding-top: 25px; */
}
img {
  width: 25%;
  height: auto;
  float: left;
  /* padding-top: 25px; */
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .19)
}
p {
  display:flex;
  flex-wrap: wrap;
}
.main {
  display: inline-flex;
}
/* .card {
  display: flex;
}
.card-header {
  float: center;
} */
.contact-me {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer {
  background-color: rgba(200, 102, 118, 0.69);
  color: white;
  height: 45px;
  text-align: center;
  padding: 20px;
}