* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
/* This is the overall header */
header {
    background-color: rgba(200, 102, 118, 0.69);
    color: white;
    display: flex;
    height: 60px;
    justify-content: space-around;
    padding-top: 20px
  }
/* This is the nav bar on the upper right corner */
a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-size: 25px;
  padding-inline: 20px;
}
a:hover {
  font-weight: bolder;  
  color: white;
  text-shadow: 0 0 10px white;
}
/* This is the About-me section */
h2 {
  text-align: center;
  padding: 25px 0;
}
.about-me {
  display:flex;
  width: 95%;
  margin: 0 auto;
}
.about-me img {
  width: 25%;
  height: 25%;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .90)
}
#about-me p {
  display:flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
/* This is the projects section __________________________________*/
.projects-container {
  display: flex;
  flex-wrap: wrap;
}
#big-project-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#smaller-projects-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#big-project-container {
  margin: 1% 1% 1% 2%;
  min-width: 500px;
}
#smaller-projects-container {
  margin: 1% 1% 1% 2%;
  max-width: 235px;
  max-height: 235px;
}
h4 {
  background: rgba(200, 102, 118, 0.69);
  color: white;
  text-align: center;
  border-radius: 7px 7px 0 0;
  padding: 3% 1% 0 1%;
}
.projects-container p {
  background: rgba(200, 102, 118, 0.69);
  color: white;
  text-align: center;
  padding: 3% 3% 3% 3%;
}
/* This is the contact-me section ____________________________________*/
.contact-me ul {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 30px;
}
/* This is the footer */
footer {
  display: flex;
  background-color: rgba(200, 102, 118, 0.69);
  color: white;
  height: 50px;
  justify-content: space-around;
  padding-top: 20px;
}