* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 768px) {
}
/* This is the overall header */
header {
    background-color: rgba(200, 102, 118, 0.69);
    color: white;
    display: flex;
    /* align-items: center; */
    height: 75px;
  }
  h1 {
    display:flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
/* This is the nav bar on the upper right corner */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-shadow: 0 0 10px white;
}
header ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 500px;
  justify-content: space-around;
}
/* This is the About-me section */
.about-me {
  display:flex;
  width: 95%;
  /* justify-content: space-between; */
  margin: 0 auto;
}
h2 {
  text-align: center;
  padding: 25px 0;
}
img {
  width: 25%;
  height: auto;
  float: left;
  /* padding-top: 25px; */
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .19)
}
p {
  display:flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
/* This is the projects section */
.container1 {
  display: flex;
  width: 50%;
  align-items: center;
}
/* This is the contact-me section */
.contact-me {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
li {
  text-align: center;
  display: inline-flex;
}
/* This is the footer */
footer {
  background-color: rgba(200, 102, 118, 0.69);
  color: white;
  height: 45px;
  text-align: center;
  padding: 20px;
}